USE [master]
GO
/****** Object:  Database [ToDoApp]    Script Date: 5.5.2021 г. 21:43:33 ******/
CREATE DATABASE [ToDoApp]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoApp]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 5.5.2021 г. 21:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[IsComplete] [bit] NOT NULL,
	[IdOfUserLastChange] [int] NOT NULL,
	[DateOfLastChange] [datetime2](7) NOT NULL,
	[DateOfCreation] [datetime2](7) NOT NULL,
	[CreatorId] [int] NOT NULL,
	[ToDoListId] [int] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoLists]    Script Date: 5.5.2021 г. 21:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoLists](
	[ToDoListId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[IdOfUserLastChange] [int] NOT NULL,
	[DateOfLastChange] [datetime2](7) NOT NULL,
	[DateOfCreation] [datetime2](7) NOT NULL,
	[CreatorId] [int] NOT NULL,
 CONSTRAINT [PK_ToDoLists] PRIMARY KEY CLUSTERED 
(
	[ToDoListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5.5.2021 г. 21:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Role] [int] NOT NULL,
	[IdOfUserLastChange] [int] NOT NULL,
	[DateOfLastChange] [datetime2](7) NOT NULL,
	[DateOfCreation] [datetime2](7) NOT NULL,
	[CreatorId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTasks]    Script Date: 5.5.2021 г. 21:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTasks](
	[UserId] [int] NOT NULL,
	[TaskId] [int] NOT NULL,
 CONSTRAINT [PK_UsersTasks] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersToDoLists]    Script Date: 5.5.2021 г. 21:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersToDoLists](
	[UserId] [int] NOT NULL,
	[ToDoListId] [int] NOT NULL,
 CONSTRAINT [PK_UsersToDoLists] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ToDoListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_ToDoLists] FOREIGN KEY([ToDoListId]) 
REFERENCES [dbo].[ToDoLists] ([ToDoListId]) 
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_ToDoLists]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([UserId]) 
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
ALTER TABLE [dbo].[ToDoLists]  WITH CHECK ADD  CONSTRAINT [FK_ToDoLists_Users] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([UserId]) 
GO
ALTER TABLE [dbo].[ToDoLists] CHECK CONSTRAINT [FK_ToDoLists_Users]
GO
ALTER TABLE [dbo].[UsersTasks]  WITH CHECK ADD  CONSTRAINT [FK_UsersTasks_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([TaskId]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersTasks] CHECK CONSTRAINT [FK_UsersTasks_Tasks]
GO
ALTER TABLE [dbo].[UsersTasks]  WITH CHECK ADD  CONSTRAINT [FK_UsersTasks_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersTasks] CHECK CONSTRAINT [FK_UsersTasks_Users]
GO
ALTER TABLE [dbo].[UsersToDoLists]  WITH CHECK ADD  CONSTRAINT [FK_UsersToDoLists_ToDoLists] FOREIGN KEY([ToDoListId])
REFERENCES [dbo].[ToDoLists] ([ToDoListId]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersToDoLists] CHECK CONSTRAINT [FK_UsersToDoLists_ToDoLists]
GO
ALTER TABLE [dbo].[UsersToDoLists]  WITH CHECK ADD  CONSTRAINT [FK_UsersToDoLists_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersToDoLists] CHECK CONSTRAINT [FK_UsersToDoLists_Users]
GO
USE [master]
GO
